/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
img{
	width:450px;
	height:200px;
	object-fit:cover;
}
button{
	padding:10px;
	background-color:crimson;
	color:white;
	border-radius:1px solid red;
}
